@import '../../helpers/variables.scss';

.main {
  margin-bottom: 200px;
}

.pageTitle {
  transform: translateY(-50%);
  font-family: 'Montserrat Bold';
  font-size: 64px;
  color: $light-font-color;
}

.warning {
  font-family: 'Montserrat Bold';
  font-size: 22px;
  color: $light-font-color;
}
