@import '../../helpers/variables.scss';

.container {
  width: 766px;
  margin-left: auto;
}

.movies {
  margin-bottom: 100px;
  position: relative;
}

.poster {
  position: absolute;
  top: -100px;
  left: -336px;
  z-index: -1;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  width: 358px;
  display: flex;
  justify-content: space-between;
}

.pageNumber {
  font-family: 'Montserrat Medium';
  font-size: 18px;
  color: $light-font-color;
}

.navButton {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonTitle {
  font-size: 18px;
  color: $light-font-color;
}

.back {
  font-family: 'Montserrat Bold';
}

.forward {
  font-family: 'Montserrat Regular';
}

.disabled {
  pointer-events: none;
}
