@font-face {
  font-family: 'Montserrat Light';
  src: local('Montserrat Light'), local('Montserrat-Light'),
    url('../assets/fonts/montserrat-v15-latin-300.woff2') format('woff2'),
    url('../assets/fonts/montserrat-v15-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../assets/fonts/montserrat-v15-latin-regular.woff2') format('woff2'),
    url('../assets/fonts/montserrat-v15-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat Medium';
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('../assets/fonts/montserrat-v15-latin-500.woff2') format('woff2'),
    url('../assets/fonts/montserrat-v15-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat SemiBold';
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('../assets/fonts/montserrat-v15-latin-600.woff2') format('woff2'),
    url('../assets/fonts/montserrat-v15-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat Bold';
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../assets/fonts/montserrat-v15-latin-700.woff2') format('woff2'),
    url('../assets/fonts/montserrat-v15-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat ExtraBold';
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
    url('../assets/fonts/montserrat-v15-latin-800.woff2') format('woff2'),
    url('../assets/fonts/montserrat-v15-latin-800.woff') format('woff');
}
