@import '../../helpers/variables.scss';

.search {
  position: relative;
  width: max-content;
  margin-bottom: 150px;
}

.input {
  background: $light-font-color;
  width: 540px;
  height: 70px;
  padding: 24px;
  font-family: 'Montserrat Medium';
  font-size: 22px;
  color: $main-dark-color;

  &::placeholder {
    font-size: 18px;
    color: #c4c4c4;
  }
}

.submitButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
}
