@import '../../helpers/variables.scss';

.headerMain {
  position: relative;
  padding: 150px 0 106px 0;
  height: 690px;
  background-size: cover;
  background-position: top;
}

.inner {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.titleWrapper,
.navControls {
  display: flex;
  justify-content: space-between;
}

.year {
  font-family: 'Montserrat Bold';
  font-size: 24px;
  color: $white-color;
}

.movieTitle {
  font-family: 'Montserrat Bold';
  max-width: 70%;
  font-size: 48px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $white-color;
}

.navButton {
  display: flex;
  width: 144px;
  justify-content: space-between;
  align-items: center;
}

.buttonTitle {
  font-family: 'Montserrat Medium';
  font-size: 24px;
  color: $white-color;
}
