@import '../../helpers/variables.scss';

.movieItem {
  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &:hover {
    transform: scale(1.02);
  }
}

.container {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  text-align: right;
}

.year,
.type,
.title {
  font-family: 'Montserrat Medium';
  color: $list-color;
}

.yearActive,
.typeActive,
.titleActive {
  font-family: 'Montserrat Bold';
  color: $light-font-color;
}

.title,
.titleActive {
  font-size: 36px;
  max-width: 70%;
}

.titleActive {
  transform: translateX(-40px);
}

.year,
.yearActive,
.type,
.typeActive {
  font-size: 18px;
}

.year {
  margin-bottom: 6px;
}
